<?php
return [
    'config' => [
        'client_id' => '',
        'client_secret' => '',
        'redirect_uri' => ''
    ],
     'entrypoints' => [
         'auth' => 'https://foursquare.com/oauth2/authenticate?client_id=Y%client_id%&response_type=code&redirect_uri=%redirect_uri%',
     ]
];